.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--backgroud-color);
  color: var(--color-description);
  font-family: var(--basic-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
